In [3]:
"""Q1. Create one variable containing following type of data
(i) string
(ii) list
(iii) float
(iv) tuple"""

'Q1. Create one variable containing following type of data\n(i) string\n(ii) list\n(iii) float\n(iv) tuple'

In [4]:
s = "NewString"

In [5]:
s

'NewString'

In [59]:
l = [23, 56, 78.4, "Sample", False, 10+2j]

In [60]:
l

[23, 56, 78.4, 'Sample', False, (10+2j)]

In [8]:
f = 223.456

In [9]:
type (f)

float

In [10]:
t = (23, 45, "list", [30, 50, 80])

In [11]:
t

(23, 45, 'list', [30, 50, 80])

In [12]:
type(t)

tuple

In [13]:
"""Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1."""

'Q2. Given are some following variables containing data:\n(i) var1 = ‘ ‘\n(ii) var2 = ‘[ DS , ML , Python]’\n(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]\n(iv) var4 = 1.'

In [14]:
var1 = ''

In [15]:
type(var1)

str

In [16]:
var2 = '[DS, ML, Python]'

In [17]:
type(var2)

str

In [18]:
var3 = ['DS', 'ML', 'Python']

In [19]:
type(var3)

list

In [24]:
var4 = l

In [25]:
type(var4)

tuple

In [26]:
"""Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **"""

'Q3. Explain the use of the following operators using an example:\n(i) /\n(ii) %\n(iii) //\n(iv) **'

In [27]:
# / stands for division, example below

In [28]:
10 / 5

2.0

In [29]:
# % stands for remainder, example below

In [31]:
9%4

1

In [ ]:
# // stands for divisor, example below

In [33]:
10 // 3

3

In [ ]:
# ** stands for Power of , example below

In [34]:
10 ** 3

1000

In [35]:
"""Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type."""

'Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the\nelement and its data type.'

In [37]:
l = (12, 2.33, "String", 9-4j, "set", 45, "New", 3, 5, "start")

In [38]:
print(l)
print(type(l))

(12, 2.33, 'String', (9-4j), 'set', 45, 'New', 3, 5, 'start')
<class 'tuple'>

In [39]:
"""Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible."""

'Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many\ntimes it can be divisible.'

In [88]:
A = input(int())
B = input(int())
while int((B % A == 0)):
    print(B // A)
else : 
    print("B is not divisible by A")

0 20
0 10

TypeError: not all arguments converted during string formatting

In [40]:
"""Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not."""

'Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is\ndivisible by 3 or not.'

In [76]:
l = [3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28]
i = 1 
for i in l : 
    if (i % 3 == 0) :
        print(i)
        print("is divisible by 3")
    else :
        print(i, "is Not divisible by 3")

3
is divisible by 3
4 is Not divisible by 3
5 is Not divisible by 3
6
is divisible by 3
7 is Not divisible by 3
8 is Not divisible by 3
9
is divisible by 3
10 is Not divisible by 3
11 is Not divisible by 3
12
is divisible by 3
13 is Not divisible by 3
14 is Not divisible by 3
15
is divisible by 3
16 is Not divisible by 3
17 is Not divisible by 3
18
is divisible by 3
19 is Not divisible by 3
20 is Not divisible by 3
21
is divisible by 3
22 is Not divisible by 3
23 is Not divisible by 3
24
is divisible by 3
25 is Not divisible by 3
26 is Not divisible by 3
27
is divisible by 3
28 is Not divisible by 3

In [ ]:
"""Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property."""

In [ ]:
#Mutabe: Any part of the list which can be replaced or changed is Mutable
#Imutable: Any part of the string or tuple which cannot be relaced or changed is imutable

In [55]:
l = [24, 99.1, 'Insidestring', True, 8+4j]

In [53]:
l[2]

'Insidestring'

In [57]:
l[2] = 100

In [58]:
l

[24, 99.1, 100, True, (8+4j)]

In [ ]:
s = "LearnPython"

In [42]:
s[4]

'n'

In [43]:
s[4] = 'f'

TypeError: 'str' object does not support item assignment