In [4]:
age=40
print("My age is:", age)

My age is: 40

In [5]:
print("My age is: {age}")

My age is: {age}

In [6]:
print(f"My age is: {age}")

My age is: 40

In [3]:
## format()
name="Krish"
age=32
print("My name is {} and age is {}".format(name,age))

My name is Krish and age is 32

In [6]:
## Placeholder
print("My name is {firstname} and age is {firstage}".format(firstage=age,firstname=name))

My name is Krish and age is 32

In [11]:
name="Manish"
Education="BE"
age=40
"My age is 40, I have completed by education in BE with name Manish Jethwani"

'My age is 40, I have completed by education in BE with name Manish Jethwani'

In [12]:
print("My age is {myage}, I have completed by education {myeducation} with name {myname}".format(myage=age,myeducation=Education,myname=name))

My age is 40, I have completed by education BE with name Manish

In [14]:
print(f"My age is {age}, I have completed by education {Education} with name {name}")

My age is 40, I have completed by education BE with name Manish

# Control Flow

### Decision Making Statements
* It is kind of making decision during occurred situation of program execution and action can be taken according to specified conditions.
    * Structure of decision making evaluate several expressions that provide true or false as a result.
    * It is up to you to decide which type of action to take and execute the statements based upon True or False
    
** These are several topics of decision making which are going to be discussed ""
    1. **if**
    2. **if else**
    3. **if elif else**
    4. **nested if**
    5. **Single statement suites**

## Decision Making Statements
* It is kind of making decision during occurred situation of program execution and action can be taken according to specified conditions.
* Structure of decision making evaluate several expressions that provide true or false as a result.
    It is up to you to decide which type of action to take and execute the statements based upon True or False
    ** These are several topics of decision making which are going to be discussed **
    1. **if**
    2. **if else** 
    3. **if elif else** 
    4. **nested if** 
    5. **Single statement suites**

In [17]:
## If Statements: ==, >=, <=
age=17
if age<18:
    print("You are eligible to vote")

You are eligible to vote

In [18]:
18<=18

True

In [19]:
input()

 krish naik

'krish naik'

In [20]:
name=input("Enter Your Name")

Enter Your Name Manish

In [22]:
age

40

In [23]:
type(age)

int

In [21]:
age=int(input("Enter your age"))

Enter your age 40

In [24]:
type(name)

str

In [25]:
name

'Manish'

In [ ]:
## Task
## Take an input of age
## Check whether age is >=18 or <=32
## display a message you are young blood

In [28]:
age=int(input("My age is"))
if age>=18 and age<=32:
    print("You are young blood")
else: 
    print("Your application is rejected")

My age is 72

Your application is rejected

In [ ]:
## Mall - input the product price
## product > 1000 rs 20% off
## product <=1000 rs 30% off

In [41]:
Price=int(input("Enter the product price"))
if Price>1000:
    EffectivePrice=int(Price*0.8)
    print(f"Congratulations! Your effective price is {EffectivePrice}")
else:
    Effectiveprice=int(Price*0.7)
    print(f"Congratulations! Your effective price is {Effectiveprice}")

Enter the product price 800

Congratulations! Your effective price is 560

In [4]:
Price=int(input("Enter the product price"))
if Price>1000:
    print("Congratulations! Your effective price is {}".format(Price*0.8))
else:
      print("Congratulations! Your effective price is {}".format(Price*0.7))

Enter the product price 8

Congratulations! Your effective price is 5.6

In [ ]:
## Mall - input the product price
## product > 3000 rs 20% off
## product >=2000 rs amd <=3000 30% off
## product <=1000 rs and <=2000 40

In [21]:
Price=int(input("Enter the product price"))
if Price>3000:
     if Price==4000:
            print("Congratulations! you get a Goa trip!")
            print("Congratulations! Your effective price is {}".format(Price*0.8))
elif Price<=3000 and Price>2000:
        print("Congratulations! Your effective price is {}".format(Price*0.7))
elif Price<=2000 and Price>=1000:
    print("Congratulations! Your effective price is {}".format(Price*0.6))
else:
    print("Sorry, no discount applicable, your effective price is {}".format(Price))

Enter the product price 4000

Congratulations! you get a Goa trip!
Congratulations! Your effective price is 3200.0

In [ ]:
## Comparison operator
True==True

In [23]:
## Single Statement
val=int(input("Enter the number"))
if(val<=999):print("value is less than equal to 999")
else:
    print("Go home")

Enter the number 2000

Go home

# Loop Statements
1. While Loop
2. For Loop
3. Nested Loop
4. Loop Controls
    a. Break
    b. Continue
    c. Pass

In [41]:
# While Loop
joining_age=25
while joining_age<=60:
       print(joining_age)
       joining_age=joining_age+1
else:
        print("Its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time for retirement

In [42]:
## ATM Machine 1000 rs

total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
        print("Add more money to ATM")
    
print("Trial Print statement")

1000
900
800
700
600
500
400
300
200
100
Add more money to ATM
Trial Print statement

## For Loop

In [50]:
lst=["Krish", "apple", "banana", "dandiya", "pyjama", 3, 5, 8, 56.78]

In [45]:
type(lst)

list

In [49]:
lst

['Krish, apple, banana, dandiya, pyjama, 3, 5, 8, 56.78']

In [51]:
lst[4]

'pyjama'

In [52]:
for x in lst:
    print(x)

Krish
apple
banana
dandiya
pyjama
3
5
8
56.78

In [54]:
fruits_lst=["banana", "apple", "pomegrenate", "papaya"]

In [59]:
for a in fruits_lst:
    print(a)
    if a=="apple":
        print("The fruit is apple")
        break

banana
apple
The fruit is apple

In [64]:
fruit="Mango"
for x in fruit:
    print(x, end='')

Mango

In [62]:
fruit[2]

'n'

## Nested Loops

In [65]:
n=7

In [71]:
## Range
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [75]:
## Nested Loop

n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*", end='')
    print("\r")

*
**
***
****
*****
******
*******

# Loop Controls
## Break, Pass and continue

In [7]:
fruits_list=["Mango", "Cherry", "Apple", "Banana", "Papaya"]
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        break
    print(i)

Mango
Cherry
The fruit is apple

In [8]:
fruits_list=["Mango", "Cherry", "Apple", "Banana", "Papaya"]
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        pass
    print(i)

Mango
Cherry
The fruit is apple
Apple
Banana
Papaya

In [9]:
fruits_list=["Mango", "Cherry", "Apple", "Banana", "Papaya"]
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        pass
    print(i)

Mango
Cherry
The fruit is apple
Apple
Banana
Papaya